@charset "utf-8";
html, body { width: 100%; min-height: 100%;	-webkit-font-smoothing: antialiased;font-family: 'lato_regular', sans-serif;letter-spacing:0px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,span { margin:0; padding:0;font-family: 'lato_regular', sans-serif; letter-spacing:0.2px}
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:normal;letter-spacing:0.2px }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
input, textarea { font: 12px 'lato_regular', sans-serif; }
ul{list-style-type: none;}
.saver { clear:both !important; height:0px !important; line-height:0px !important; float:none !important; display:block !important; }
.hiddenText { font-size:0px !important; text-indent:-9999px !important; }
.hide { display:none;}
a img { border:0; }
a { outline:0; cursor:pointer; text-decoration:none;font-family: 'lato_regular', sans-serif; }
img { border:none;vertical-align: middle;}
.leftContainer { float:left; display:block;}
.rightContainer { float:right; display:block;}
.centerContainer { margin:0 auto;}
.noMargin{ margin:0 !important; }
.noMarginRight{ margin-right:0 !important;}
.noMarginLeft{ margin-left:0 !important;}
.temizle{clear:both}
.bold {font-family: 'lato_bold';}
html, body{height:100%;}

.ortala{width:calc(100% - 40px); max-width:1270px; padding:0 20px;margin:0 auto;}

/* 2nclick İkon
==========================================================================================================================================*/
#twonclick  { background: url(../img/2nclick-logo.png) no-repeat 0 0 transparent; bottom:20px; height:90px; position:absolute; right:5px; width:37px; z-index:999; }
#twonclick .twonclick{ display:block; height:90px; outline:none; text-indent:-9999px; width:37px;}
/*  İkon
==========================================================================================================================================*/		


.searchbox{width: 256px;max-height: 500px;position: absolute;z-index: 9999;background: #fff;-webkit-transition: all 0.7s ease-in-out;transition: all 0.7s ease-in-out;height:0px;overflow:hidden;border-left: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;}
.searchbox>ul>li{border-bottom:1px solid #dcdcdc;padding:10px;cursor:pointer;font-size: 14px;}
.searchbox>ul>li>span{font-size: 12px;color: #727272;}


.head{width:100%;display:table;padding: 8px 0 0px 0;}
.head>ul{display:table-row;width:100%;}
.head>ul>li{display:table-cell;vertical-align:middle;width: calc(100% - 170px);float:left}
.head>ul>li:first-child{width:170px; vertical-align:top}
.head>ul>li:first-child>a>img{width:100%;}

.sosyal-menu{width:100%;float:right;border-bottom:1px solid #dcdcdc;padding-bottom:10px;}
.sosyal-menu>div{display:table;float:right;}
.sosyal-menu>div>ul{display:table-row;}
.sosyal-menu>div>ul>li{display:table-cell;vertical-align:middle;  width:161px}
.sosyal-menu>div>ul>li:nth-child(2){ width:155px}
.sosyal-menu>div>ul>li:last-child{ width:265px}
.sosyal-menu>div>ul>li:first-child>a{ padding:0 2px}
.sosyal-menu > div > ul > li:nth-child(2) ul { display:table}
.sosyal-menu>div>ul>li:nth-child(2) ul> li{display:table-cell; text-align:center; width:42px}
.sosyal-menu>div>ul>li>ul>li>span {width: 1px;height: 16px;background: #d4d4d4;float: left;letter-spacing: 0.3px; margin:0 10px}
.sosyal-menu>div>ul>li:nth-child(2) ul> li a { font-size:14px; display:block}
.sosyal-menu > div > ul > li:nth-child(2) i { display:none}
.sosyal-menu > div > ul > li:nth-child(2) a:hover, .sosyal-menu > div > ul > li .active{font-family: 'lato_black';}
.sosyal-menu > div > ul > li:nth-child(2) .active i { display:block; float:left; margin-right:7px}
.sosyal-menu>div>ul>li>input{width:200px;padding: 9px;border:1px solid #dcdcdc;}
.sosyal-menu>div>ul>li>button{padding: 6px 9px;border:1px solid #dcdcdc;background:#fff;padding-bottom: 8px;cursor:pointer;/* margin-top: 1px; */margin-top: 0px;}
.sosyal-menu>div>ul>li>button>.fa-search{font-size: 16px;color: #848383;}

.head-menu{width:100%;float:right;padding-top: 0px;}
.head-menu>div{display:table;width: 950px;float:right;}
.head-menu>div>ul{display:table-row;}
.head-menu>div>ul>li{display:table-cell;vertical-align:middle;}
.head-menu > div > ul > li:first-child>div { width:auto; float:right; margin-right:20px}
.head-menu>div>ul>li>div>ul>li, .head-menu>div>ul>li>div>ul>li>a{color: #6d6d6d;cursor: pointer;padding: 10px 7px;float: left; font-size:15px;position:relative}
.head-menu>div>ul>li>div>ul>li:hover{ background:#f5f5f5; }
.head-menu>div>ul>li>div>ul>li:hover a{color:#6d6d6d}
.head-menu>div>ul>li>div>ul>li span {width: 1px;height: 16px;background: #d4d4d4;float: left;margin-top: 10px;letter-spacing: 0.3px;}
.head-menu>div>ul>li a:hover{/*border-bottom: 3px solid #000;*/color:#000;}
.head-menu>div>ul>li>.active{border-bottom: 3px solid #000;}
.head-menu>div>ul>li>a:last-child{border-right:0;}
.head-menu>div>ul>li:last-child{width:150px}
.head-menu>div>ul>li:last-child>div>a{padding:10px;background:#f00;color:#fff;float:right; margin:0px; border:0px}


.mobile-head{width:100%;display:table;padding: 8px 0 0px 0;display:none;}
.mobile-head>ul{display:table-row;width:100%;}
.mobile-head>ul>li{display:table-cell;vertical-align:middle;width: calc(100% - 170px);float:left}
.mobile-head>ul>li:first-child{width:170px; vertical-align:top}
.mobile-head>ul>li:first-child>a>img{width:100%;}




.mobile-head .menutik{width: 50px;height: 50px;vertical-align: middle;display: table-cell;float: right;position: absolute;right: 0px;}
.mobile-head .menutik>div{float:left;margin-right: 30px;margin-top: 10px;line-height:54px;font-size:15px;color:#000}
.mobile-head .menutik>div>a{color:#000}
.mobile-head .menutik>img{float: right;margin-right: 20px;margin-top: 20px;width: 30px;cursor:pointer;}
.mobile-head .arama-mobile{vertical-align: middle;display: table-cell;float: right;position: absolute;right: 60px;color: #ed2025;padding: 10px;cursor: pointer;top: 25px;}
.mobile-head .mobile-arama{width:100%;position:absolute;top:99px;left:0;background: rgba(16, 16, 16, 0.68);text-align:center;display:none;z-index:999}
.mobile-head .mobile-arama input{width:calc(100% - 80px);padding: 9px;border:1px solid #dcdcdc;margin:10px 0;}
.mobile-head .mobile-arama button{padding: 6px 9px;border:1px solid #dcdcdc;background:#fff;padding-bottom: 8px;cursor:pointer;/* margin-top: 1px; */margin-top: 0px;}
.mobile-head .mobile-arama button>.fa-search{font-size: 16px;color: #848383;}

.mobil-menu{width:100%;position:absolute;top:99px;left:0;background: rgba(16, 16, 16, 0.68);text-align:center;display:none;padding-top: 15px;z-index:999}
.mobil-menu>ul>li{border-bottom: 1px solid #767070;}
.mobil-menu>ul>li>a>i{padding:5px}
.mobil-menu>ul>li>a{color: #e2e2e2;display:block;line-height:35px;font-size:12px;font-weight:600;font-family: 'Raleway', sans-serif;}

.mobmenu>li>ul{height: 0px;overflow: hidden;}
.mobmenu>li>ul>li>a{color:#e2e2e2;padding:4px 0;display:block;font-size:12px;font-weight:500;font-family: 'Raleway', sans-serif;}

.mobil-menu>ul>li>input{width:200px;padding: 9px;border:1px solid #dcdcdc;margin:10px 0;}
.mobil-menu>ul>li>button{padding: 6px 9px;border:1px solid #dcdcdc;background:#fff;padding-bottom: 8px;cursor:pointer;/* margin-top: 1px; */margin-top: 0px;}
.mobil-menu>ul>li>button>.fa-search{font-size: 16px;color: #848383;}

.altmenu>ul>li>a{color:#e2e2e2;font-size: 15px;padding: 4px 0;display: block;}


.mobmenu>li>.altmenu{position: inherit; display:none;padding: 5px 0px;}
.mobmenu>li>.altmenu>div>ul>li{width:auto;text-align: center;border-bottom: 1px solid #262525;}
.mobmenu>li>.altmenu>div>ul>li:last-child{border-bottom:none;}
.mobmenu>li>.altmenu>div>ul>li>a{text-align: center;width:auto;font-weight:300;color:#e2e2e2;font-size: 14px;}



.menukapat{display:none;}


.dropdownsecim{width:100% ;padding:30px 0px;background:#fff;display:none;}
.dropdownsecim>span{background: #393939;color: #6f6f6f;font-size: 21px;padding: 13px 20px;border: 1px solid #e5e5e5;background: url(../img/selec-icon.png) no-repeat right center;-webkit-appearance: none;outline: none;font-weight: 300;font-family: 'Raleway', sans-serif;display: block;cursor:pointer;}
.dropdownsecim>ul{display:none;background:#fff;border-left: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.dropdownsecim>ul>li{width:100%;font-size: 14px;font-weight: 300;font-family: 'Raleway', sans-serif;cursor:pointer;background: #ffffff;color:#fff;border-bottom: 1px solid #e5e5e5;padding-bottom:0px !important}
.dropdownsecim>ul>li>a{color:#6f6f6f;display:block;padding: 13px 20px;}
.dropdownsecim>ul>li:last-child{border:none}
.dropdownsecim>ul>li:hover{background: #6f6f6f;color: #fff;}
.dropdownsecim>ul>li:hover>a{color:#fff}



/*.head-menu>div>ul>li>div>ul>li .altmenu{ display:none; transition: all 0s;background:rgba(255, 255, 255, 0.95) ; width: 100%;position: absolute; top: 107px;left: 0; z-index: 666666; border-top: 5px solid #ed2025;}
.head-menu>div>ul>li>div>ul>li:hover .altmenu { display:block}
.head-menu > div > ul > li > div > ul > li .altmenu>div{width:100%; max-width:1270px;margin: auto;  position: relative; display:table}
.head-menu > div > ul > li > div > ul > li .altmenu>div>div{ padding:40px 0px 40px 30px; display:table-cell; vertical-align:middle}
.altmenu .altmenuic { width:100%; position:relative}
.altmenu .altmenuic>a{ display:block; width:100%; height:100%}
.altmenu .altmenuic>a>div:first-child{ width:30%; float:left}
.altmenu .altmenuic>a>div:last-child{ width:70%; float:right}*/


.head-menu>div>ul>li>div>ul>li .altmenu{ display:none; transition: all 0s;background:#fff ; width:300px;position: absolute; top: 55px; z-index: 666666; margin-left: -7px;border: 1px solid #f5f5f5;}
.head-menu > div > ul > li > div > ul > li:last-child .altmenu, .head-menu > div > ul > li > div > ul > li:nth-last-child(2) .altmenu {right: 0px;left:unset;}


.head-menu>div>ul>li>div>ul>li .altmenu ul{ border-top:10px solid #f5f5f5}
.head-menu>div>ul>li>div>ul>li .altmenu ul li{border-bottom:1px solid #f5f5f5}
.head-menu>div>ul>li>div>ul>li .altmenu ul li:last-child{ border:0}
.head-menu>div>ul>li>div>ul>li .altmenu ul li:hover{ background:#f5f5f5}
.head-menu>div>ul>li>div>ul>li .altmenu ul li a{ display:block; color:#6d6d6d; line-height:35px;padding: 4px 18px;font-size: 15px;}
.head-menu>div>ul>li>div>ul>li .altmenu ul li:hover a{ color:#6d6d6d}
.head-menu>div>ul>li>div>ul>li:hover .altmenu { display:block}

.head-menu > div > ul > li > div > ul > li .altmenu>div>div:first-child{ width:30%; background:#fff; padding-right:25px}
.head-menu > div > ul > li > div > ul > li .altmenu>div>div:first-child>h1{font-size:30px; border-bottom:1px solid #dcdcdc;padding-bottom: 5px;font-family:'lato_light';}
.head-menu > div > ul > li > div > ul > li .altmenu>div>div:first-child>p{ margin-top:10px;color:#777;line-height: 25px;font-size: 20px;font-family:'lato_light';}
.head-menu > div > ul > li > div > ul > li .altmenu >div ul li {width: calc(100% / 4 - 40px); float:left; padding:25px 20px; border-bottom:3px solid rgba(255, 255, 255, 0) }
.head-menu > div > ul > li > div > ul > li .altmenu >div ul li:hover{/*background:#FFF;*/ border-bottom:3px solid #ed2025}
/*.head-menu > div > ul > li > div > ul > li .altmenu > div ul li div div:first-child{ width:30%; float:left}
.head-menu > div > ul > li > div > ul > li .altmenu > div ul li div div:last-child{ width:70%; float:right}*/
.head-menu > div > ul > li > div > ul > li .altmenu >div ul li div img{ width:100%;margin-top: 5px;border: 1px solid #e7e7e7;padding: 5px;    width: calc(100% - 10px);}
.head-menu > div > ul > li > div > ul > li .altmenu >div ul li h1{font-size:14px; padding-top:15px;padding-bottom: 6px; color:#777;letter-spacing: 0.1px;letter-spacing: 0.1px;font-weight: 600;border-bottom: 1px solid #e2e2e2; padding-bottom: 7px;margin-bottom: 8px;}
.head-menu > div > ul > li > div > ul > li .altmenu >div ul li p{color:#6b6b6b; /*font-family: 'lato_light';*/ font-size:14px; line-height:16px}

.bgsiyah{background: rgba(0, 0, 0, 0.9)!important;}
.bgkirmizi{background: rgba(237, 32, 37, 0.9)!important;}
.bgsiyah h1, .bgsiyah p, .bgkirmizi h1, .bgkirmizi p { color:#fff !important} 
.bgsiyah h1, .bgkirmizi h1{ border-bottom:0px solid #dcdcdc !important;padding-bottom: 0px !important}

.slider{height:65%; max-height:600px;position:relative;}
.slider img{width: 100%;top: 50%; transform: translateY(-50%);position: relative;}
.slide-yazi{position:absolute;bottom: 15%;color: #fff;font-size: 30px;text-align:center; width:100%;z-index:99}
.slide-yazi>a{padding: 10px 20px;background:#fff;font-weight:700;font-size: 15px;color: #000; font-family: 'lato_black';}
.slide-yazi>p{margin-bottom:13px; font-family: 'lato_light';}

.home-features{padding:50px 0 20px 0;overflow:hidden}
.home-features>.features-sol{width: 444px;float:left;position:relative;height: auto;}
.home-features>.features-sol>img{width:100%;}
/*.home-features>.features-sol>div{}
.home-features>.features-sol>div>div{display: table;height: 100%;width: 100%;}
.home-features>.features-sol>div>div>div{display:table-cell;vertical-align:middle;text-align:center;color:#fff}
.home-features>.features-sol>div>div>div>span{font-weight:800;}
.home-features>.features-sol>div>div>div>p{margin-top:10px;}*/

.ozellik-golge{position:absolute;width:100%;height:100%;/* display:table; */top: 0;background: rgba(255, 255,255, 0.05);}
.ozellik-golge>div{display: table;height: 100%;width: 100%;}
.ozellik-golge>div>div{display:table-cell;vertical-align:bottom;text-align:center;color:#fff}
.features-sol .ozellik-golge>div>div>div>span{font-weight:700;font-size: 40px;}
.features-sag .ozellik-golge>div>div>div>div{padding:10px 0;background:#dfdfdf;color:#444}
.ozellik-golge>div>div>div>p{margin-top:10px;}
.ozellik-golge>div>div>div:first-child{ padding: 30px 0; background: rgba(255, 255, 255, 0.90);color: #444;}
.features-sag .ozellik-golge>div>div>div{ padding: 11px 0 !important;}

.home-features>.features-sag{width: calc(100% - 444px);display:table;float:left;}
.home-features>.features-sag>ul{display:table-row}
.home-features>.features-sag>ul>li{display:table-cell;padding: 2px;padding-top:0;padding-right: 0;vertical-align:top;}
.home-features>.features-sag>ul>li>div{position:relative;height: 203px;overflow: hidden;}
.home-features>.features-sag>ul>li>div>a>img{width:100%;max-width: 210px;/* max-height: 338px; */}


.home-features>.features-sag .buyukresim{height: 333px;}
.home-features>.features-sag .buyukresim>a>img{height:100%}
.margintop10{margin-top: 2px;}


.home-hakkinda{padding:40px 0;}
.home-hakkinda>p{font-size:18px;line-height: 24px; color:#474747; font-weight:100}
.home-hakkinda>p:first-child{font-size:15px;line-height: 22px;}
.home-hakkinda>h3{margin-bottom:10px;font-weight: 100; font-size:35px;color:#474747; margin-bottom:15px}
.home-hakkinda>p>span{ font-weight:600;}
.home-hakkinda>div{display:table;margin-top: 40px;}
.home-hakkinda>div>ul{display:table-row}
.home-hakkinda>div>ul>li{display:table-cell;border-right:1px solid #dcdcdc;font-size: 13px;padding: 0 10px;font-weight:700;}
.home-hakkinda>div>ul>li>a{ color:#474747; font-weight:100; font-size:16px; font-style:italic; }
.home-hakkinda>div>ul>li:first-child{padding-left:0}
.home-hakkinda>div>ul>li:last-child{border-right:0;}


.home-bilgi{width:100%;display:table; margin-top:40px}
.home-bilgi>ul{display:table-row}
.home-bilgi>ul>li{display:table-cell;width:50%;vertical-align: top;}
.home-bilgi>ul>li>h4{border-bottom: 1px solid #dedede;padding: 10px 0;margin-bottom: 10px;font-size: 30px;font-weight: 700;color: #000;}
.home-bilgi .anareferans .slide-bg>ul>li>div>h4{ font-weight:100; font-size:10px; margin-bottom:5px;/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.50)*/}
.home-bilgi .anareferans .slide-bg>ul>li>div>p{ font-size:11px; line-height:14px;/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.50);*/font-family: 'lato_light', sans-serif}
.home-bilgi .anareferans .slide-bg>ul>li>div{width: 100%;    height: 30px; background: rgb(237, 32, 37);  position: absolute;  z-index: 9999;  bottom: -1px;  text-align: center;  color: #FFF; line-height: 30px;   font-size: 12px;}
.home-bilgi .anareferans .slide-bg>ul>li{ padding:0}

.home-bilgi>ul>li>.haberler{width: 96%; float:right;overflow:hidden;margin-bottom: 19px;position: relative;}
.home-bilgi .haber-slide{width: 96%;float:right}
.home-bilgi>ul>li>.haberler>h4{border-bottom: 1px solid #dedede;padding:10px 0;margin-bottom:10px;font-size: 30px;font-weight: 700;color: #000;}
.home-bilgi>ul>li:first-child{padding-right:5px;}
.home-bilgi>ul>li:last-child{padding-left:5px;}
.home-bilgi>ul>li>.haberler>.haber-list{width:100%;height: 220px;overflow:hidden;}
.haber-list>div{width:100%;height:auto;}
.haber-list>div>ul>li{padding: 10px 0;border-bottom: 1px solid #dedede;}
.haber-list>div>ul>li>a{color: #7d7d7d; font-size:14px}

.home-bilgi .jssora05r,.home-bilgi .jssora05l{ background-size:65%}

.footer{width:100%;background:#f8f8f8;padding: 20px 0;overflow:hidden;padding-bottom: 90px; margin-top:25px;position:relative;}
.footer>div>ul>li{float: left;margin: 0 22px;}
.footer>div>ul>li:first-child{float:left; width:calc((100% / 5) - 20px);margin: 0}
.footer>div .altmenunbottom a{ color:#777; line-height:25px}
.footer>div .altmenunbottom a:hover{ color:#000}
.footer>div>ul>li>a img{width:80%;padding-top: 20px;}
.footer>div>ul>li>p{margin-top: 15px;font-size: 13px;line-height: 17px;color: rgba(71, 71, 71, 0.77);}
.footer>div>ul>li>h3{font-size: 13px;font-weight:600;margin-bottom: 15px;padding-top: 25px;}
.footer>div>ul>li>ul>li{line-height:23px;font-size: 13px;}

.sosyal-icon{width:70%;margin-top:20px;}
.sosyal-icon>ul>li{margin:0 5px;width:calc((100% / 4) - 10px);}
.sosyal-icon>ul>li>a>img{width:100%;}

.slide-bg{position:absolute;width:100%;height:100%;/*background:rgba(0, 0, 0, 0.6)*/display:table;}
.slide-bg>ul{display:table-row;}
.slide-bg>ul>li{display:table-cell;vertical-align:bottom;text-align:center;color:#fff;font-size:12px;padding:0 40px;}

.haber-slide{height:243px;overflow:hidden}
.haber-slide .slide-bg img{width: 95px;padding-bottom:20px;}
.haber-slide-yazi{width: 100%;    height: 30px; background:rgb(237, 32, 37);  position: absolute;  z-index: 9999;  bottom: -1px;  text-align: center;  color: #FFF; line-height: 30px;   font-size: 12px;}
.haber-arrow{position:absolute;top: 0px;right: 0px;display:none;}
.haber-arrow img{width:20px;cursor:pointer;}

.page-alt-kategori{width:100%;height:50px;background:rgba(0, 0, 0, 0.73);position:absolute;color:#fff}
.page-alt-kategori h1{width:100px;float:left;line-height: 50px;font-size: 22px;}
.page-alt-kategori>div>div{display:table;float:right;height:50px;}
.page-alt-kategori>div>div>ul{display:table-row;}
.page-alt-kategori>div>div>ul>li{display:table-cell;vertical-align:middle;}
.page-alt-kategori>div>div>ul>li>a{color:#fff;border-right:1px solid rgba(255, 255, 255, 0.27);padding: 0 10px;font-size: 13px;}
.page-alt-kategori>div>div>ul>li:last-child>a{border-right:0px;}


.page-img{width:100%;position:relative;}
.page-img>img{width:100%;}

.kurumsal-fabrika{width:100%;padding:20px 0}
.gri-bg100{background:#e5e5e5}

.hakkimizda{padding:10px 0;}
.hakkimizda>p{padding:10px 0;font-weight: 300;}
.hakkimizda>p:first-child{font-style: italic;}
.hakkimizda>h3{padding:10px 0;font-weight:700}

.kurumsal-fabrika img{width:100%;}
.kurumsal-fabrika p{padding:10px 0;font-size: 12px;}
.kurumsal-fabrika h4{padding:10px 0; font-style:italic;font-weight: 300;}

.basin ul>li{clear:both;padding-bottom: 20px;overflow: hidden;}

.basin #ajax-main .haberic>li{padding-bottom: 20px;  width: calc(100% / 3 - 20px); margin-right:20px; clear:none;display: inline-block; vertical-align:top}
.basin #ajax-main .haberic>li:nth-child(3n){margin-right:0}
.basin #ajax-main .haberic>li>a>img{width:calc(100% - 32px);float:left;border: 1px solid #dcdcdc;padding: 15px;}
.basin #ajax-main .haberic>li>a>div{width:calc(100% - 20px);float:left;padding-left: 20px;color: #777;}
.basin #ajax-main .haberic>li>a>div>h1{font-weight:600;padding-bottom:10px;letter-spacing: 0.5px; border-bottom:1px solid #dcdcdc; margin-top:25px; line-height:18px; font-size:14px; margin-bottom:10px}
.basin #ajax-main .haberic>li>a>div>p{font-size:15px;  margin-bottom: 10px; font-family: 'lato_light', sans-serif; line-height:22px}
.basin #ajax-main .haberic>li>a>div>span{color: #777;    font-size: 13px;}




.altsayfa{ width:100%; margin-top:-5px}
.altsayfa>div:first-child{ background:#f5f5f5; width:100%}
.altsayfa>div:first-child>div{margin-top:15px;line-height:40px;font-size:14px;color:#555;  }
.altsayfa>div:first-child>div>div:last-child{ text-align: center; padding: 25px 0 45px 0; }
.altsayfa>div:first-child>div>div:last-child h1{font-size: 33px; line-height:30px; margin-bottom:15px;font-family: 'lato_light', sans-serif; color:#000}
.altsayfa>div:first-child>div>div:last-child, .altsayfa>div:first-child>div>div:last-child p{font-size: 21px; line-height:24px; font-weight: 100;font-family: 'lato_light', sans-serif;color:#777}
.altsayfa>div:first-child a{color:#777; font-size:14px; display:block}
.altsayfa>div:first-child ul>li{ float:left; padding:0 5px}

.altsayfaic>div:first-child{ width:20%; float:left}
.altsayfaic>div:first-child> .altmenuic{ width:100%;margin-top: 28px;}
.altsayfaic>div:first-child> .altmenuic h1{ font-size:25px; font-weight:600;letter-spacing:0.5px}
.altsayfaic>div:first-child> .altmenuic ul{margin-top:25px}
.altsayfaic>div:first-child> .altmenuic ul li{ line-height:43px; border-bottom:1px dotted  #ccc; padding:0 10px}
.altsayfaic>div:first-child> .altmenuic ul li:last-child{border:0}
.altsayfaic>div:first-child> .altmenuic ul li a{color:#777; font-size:18px; display:block}
.altsayfaic>div:first-child> .altmenuic ul li:hover{ background:#f5f5f5}
.altsayfaic>div:first-child> .altmenuic ul .active{ background:#f5f5f5 !important}
.altsayfahead{position: absolute;background: rgba(0, 0, 0, 0.4); width: 100%;height: 100%; max-height:299px; top: 0;}
.altsayfahead>div{bottom:10px; position:absolute; width:100%}
.altsayfahead>div h1{color:#fff; font-size:35px}

.altsayfaic>div:last-child{ width:calc(80% - 50px); float:right; padding:25px 25px;display:block;}
.altsayfaic>div:last-child>div:first-child>img{width:100%}
.altsayfaic>div:last-child .altsayfayazi{ padding:45px 0 0 0 ; color:#777;line-height:22px; }
.altsayfaic>div:last-child .altsayfayazi, .altsayfaic>div:last-child .altsayfayazi p{ font-size:18px; line-height:25px; margin-bottom:25px;font-family: 'lato_light', sans-serif;  letter-spacing:0px}
.altsayfaic>div:last-child .altsayfayazi h1{font-weight:600;    padding-bottom: 10px;}
.altsayfaic>div:last-child .altsayfayazi ul{ margin-bottom:15px}
.altsayfaic>div:last-child .altsayfayazi ul li{ font-family: 'lato_light', sans-serif; border-bottom:1px solid #f5f5f5; padding:15px 0;  background:url(../img/arrow-icon.png) no-repeat;  background-size:12px; padding-left:20px; background-position-x:0; background-position-y:20px}
.fabrikalar>h1{font-size: 29px; text-align: center;  background: #f5f5f5;   padding: 15px;  margin-bottom: 15px; color:#333;font-family: 'lato_light', sans-serif;}
.fabrikalar>div ul{ margin-top:45px}
.fabrikalar>div ul .solfabrika{ width:calc(50% - 20px); padding-right:20px; float:left}
/*.fabrikalar>div ul .solfabrika::after{width: 0;height: 0;border-style: solid;border-width: 25px 0 25px 35px;border-color: transparent transparent transparent #ffffff;}*/
.fabrikalar>div ul .sagfabrika{ width:calc(50% - 10px); padding-left:10px; float:right}
.fabrikalar>div ul li{display:inline-block; position:relative; height:300px; vertical-align:middle; overflow:hidden}
.fabrikalar>div ul li h3{font-size: 32px;font-family: 'lato_light', sans-serif;    margin-bottom: 15px;}
.fabrikalar>div ul li p{ font-size:17px; line-height:22px; margin-bottom:25px;font-family: 'lato_light', sans-serif;color:#777}
.fabrikalar>div ul li img{width:100%}
.table{display:table;width:100%; height:100%}
.table>div{ display:table-cell; vertical-align:middle}

.medya-detay .altsayfayazi{padding:0 !important}
.medya-galeri{width:100%;/* border-top: 1px solid #f5f5f5; */padding-top: 10px;padding-left: 10px;margin-top: 20px;border-top: 1px dotted #ccc;}
.medya-galeri>ul>li{padding-right:10px;padding-bottom:10px; width:calc((100% / 4) - 10px);float:left}
.medya-galeri>ul>li>a>img{width:calc(100% - 32px); border:1px solid #dcdcdc; padding:15px;}
#html5-watermark{display:none !important;}

.habergeri{float: right; border: 1px solid #dcdcdc; }
.habergeri>a{font-size:15px; color:#777;padding: 5px 10px;display:block}
.habergeri:hover{background:#ed2025; border-color:#ed2025}
.habergeri:hover>a{color:#fff; }
.haberdetay>h1{padding:35px 0 10px 0 !important;}



.kataloglist>ul>li{width:calc((100% / 4) - 32px); padding-right:10px;padding-bottom:29px;float:left;margin-right: 29px;/*height: 400px;*/}
.kataloglist>ul>li:nth-child(4n){margin-right:0}
.kataloglist>ul>li>a>img{width:100%; border:1px solid #dcdcdc; padding:10px}
.kataloglist>ul>li>a>div{padding: 10px 5px;color: #6e6c6c;text-align: center; width:100%;font-family: 'lato_light', sans-serif; font-size:15px}

.iletisim-bilgi>div{overflow:hidden;margin-bottom:20px; padding:25px 0}
.iletisim-bilgi>div:nth-child(2n){background:#f5f5f5}
.iletisim-bilgi>div>div:last-child{margin-left: 40px;line-height: 30px;}
.iletisim-bilgi>div>div>h1{font-weight: 600;}
.iletisim-bilgi>div>div>p{ line-height:24px; color:#474747}

.mapliadres{border: 1px solid #ccc;padding: 25px;margin-left: 0 !important;}
.mapliadres>div{margin-bottom: 20px;}
.mapliadres>div>h1{font-weight: 600;}


.iletisim-form-div{width:calc(50% - 5px); float:left;display:block;}
.iletisim-form-div:first-child{padding-right:10px;}
.iletisim-form-div>input{padding:15px;width:calc(100% - 32px);margin:5px 0;border: 1px solid #ecebeb;font-size: 15px;display:block;font-family: 'lato_light', sans-serif;}
.iletisim-form-div>textarea{padding:15px;width:calc(100% - 32px);margin:5px 0;border: 1px solid #ecebeb;font-size: 15px;display:block;font-family: 'lato_light', sans-serif;height:175px;}
.iletisim-form-div>button{text-align:center;width:calc(100% - 2px);margin-top:5px;padding: 15px 0;background: #ed2025;border: 0;color: #fff;cursor: pointer;font-size: 15px;display:block;}
.iletisim-form-div>button:hover{background: #fff; border:1px solid #ed2025; color:#ed2025}

.tesekkurler{width:calc(100% - 20px);color: #0a960f;text-align:center;padding: 20px 10px;font-size: 18px;font-weight: 600;}

.detay-duzenle{    padding-bottom: 5px;}
.detay-duzenle>a{font-family: 'lato_regular', sans-serif;font-size: 14px;color: #474747;border: 1px solid #f5f5f5;padding: 10px 10px;}
.detay-duzenle>a:hover{color:#fff;background:#000}

.urunler{ margin-top:35px}
.urunlermenu>div>div{ overflow-y:auto; max-height:150px;overflow-x: hidden;}

.urunlermenu>div>h3{font-family: 'lato_bold', sans-serif; width: calc(100% - 20px); margin: 10px 0 10px 0; padding-bottom: 7px; background: #f6f6f6; padding: 10px;}
.urunlermenu>div>h3>i{float:right; font-size: 22px;  margin-right: 0px; color: #999;}
.urunlermenu > div > div {
    font-size: 14px;
    color: #474747;
    line-height: 22px;
}
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SCROLLBAR RAIL ***************/
 
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div
{
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-rail > .scroll-element {
    background-color: #ffffff;
}
 
.scrollbar-rail > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-rail > .scroll-element .scroll-element_size {
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.1);
}
 
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.2);
}
 
.scrollbar-rail > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    min-width: 100%;
    padding: 3px 0 2px;
    width: 100%;
}
 
.scrollbar-rail > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    padding: 0 2px 0 3px;
    right: 0;
    top: 0;
    width: 12px;
}
 
.scrollbar-rail > .scroll-element .scroll-bar {
    background-color: #999;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
 
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
}
 
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
 
/* scrollbar height/width & offset from container borders */
 
.scrollbar-rail > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-rail > .scroll-content.scroll-scrollx_visible { margin-top: 17px; top: -17px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-bar { height: 10px; min-width: 10px; top: 1px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-bar { left: 1px; min-height: 10px; width: 10px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer { height: 15px; left: 5px; }
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size { height: 2px; left: -10px; top: 5px; }
 
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer { top: 5px; width: 15px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size { left: 5px; top: -10px; width: 2px; }
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -25px; }
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -25px; }

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.urunlermenu>div>div>div span{ margin-left:5px;color: #999;}
.urunlermenu>div>div>div input[type='checkbox']{ padding-left:5px; padding-right:5px; -webkit-appearance:button;  border: double 1px #c2c2c2;  background-color:none;  color:#FFF; white-space: nowrap; overflow:hidden;  width:15px; height:15px;cursor:pointer;}
input[type=checkbox]:checked {background-color: #939393;}
.urunlermenu>div{ width:calc(100%- 30px) !important; padding:15px; margin:10px  0;border:1px solid #f5f5f5}
.urunlermenu>div:nth-child(2n){/*background:#f9f7f7;*/ }

.urunlermenu select{ width:100%; padding:4px 10px; border:1px solid #dcdcdc; line-height:30px; font-size:14px}
.urunlermenu select { -webkit-appearance: none;  -moz-appearance: none; appearance: none;background: #fff url("../img/angle-arrow-down.png") no-repeat 95% 50%; background-size:15px 9px}
.urunlermenu select:focus { outline: none;}
.urunlermenu a.all-clean-btn {width: calc(100% - 12px); height: auto; display: block; float: left; margin: 0;padding: 10px 0 10px 10px; text-decoration: none; font-size: 12px; color: #ffffff;   /* border: 1px solid #dc575b; */   line-height: 1.2em;  margin-bottom: 13px;    background: #ed2025;}

.urunlermenu .altmenuic{ width:auto !important;margin-top: 28px;}
.urunleric .kullanimalani{height:27px}
.urunleric .kullanimalani ul li{ float:left; padding:0 15px}
.urunleric .kullanimalani ul li:first-child{padding-left:0}
.urunleric .kullanimalani ul li a{ padding-bottom:8px;color:#777;font-size:15px}
.urunleric .kullanimalani ul li a:hover{border-bottom: 3px solid #c2c2c2;}
.urunleric .kullanimalani ul li .active{border-bottom: 3px solid #c2c2c2;}

.new-badge{height:50px;margin-top:10px;}
.new-badge>span:first-child{width: 60px;/*height: 50px*/;display: block;float: left;background: url(../img/new.png) center no-repeat;font-size: 14px;margin: 0 auto;padding: 3px 0 0 0;color:#fff;text-align: center;background: 123% auto;background-size: 50px;line-height: 50px;}

.new-badge input[type='checkbox']{padding-left:5px;padding-right:5px;-webkit-appearance:button;border: double 1px #c2c2c2;background-color:none;color:#FFF;white-space: nowrap;overflow:hidden;width:15px;height:15px;cursor:pointer;/* line-height: 55px; */margin-top: 20px;margin-left: 10px;}
.new-badge>span:last-child{ margin-left:5px;color: #999;}


.kullanimalani{border-bottom:1px solid #c2c2c2}
.page-tab-menu-content{    width: 100%;height: auto; display: block; float: left; margin: 0; padding: 0;}
.ul.black-band-four-column{    width: 100%;height: auto; display: block; float: left; margin: 0; padding: 0;}
ul.black-band-four-column li:nth-child(5n+1) { margin: 0 0 5px 0;}
ul.black-band-four-column li { width: calc((100% / 5) - 5px);height: 210px; display: block; float: left; margin: 0 0 5px 5px; padding: 0; position: relative; overflow: hidden;text-align:center;}
ul.black-band-four-column li a {  width:100%; height: 210px;display: block; float: left;margin: 0;  padding: 0; position: relative;font-family: 'lato_bold', sans-serif;}
ul.black-band-four-column li a .text { width: 100%;height: auto; position: absolute;  bottom: 0; left: 0; padding: 11px 0; background: rgba(44,46,49,.6) url(../img/bg-white-arrow.png) 95% 50% no-repeat;text-align:left;}
ul.black-band-four-column li a .text span.head { font-size: 14px;}
ul.black-band-four-column li a .text span.head, ul.black-band-four-column li a .text span.sub { width: 175px;  height: auto; display: block;float: left; margin: 0;padding: 0 0 0 13px;color: #fff; line-height: 1.2em;}
ul.black-band-four-column li a>img{width: 320px;/*min-width: 328px !important;*/left: 50%;transform: translate(-50%);display: block;position: relative;/*min-height: 215px;*/}
.urunleric{margin-bottom:20px}
ul.pagination { width: 100%;height: auto;display: block;margin: 30px 0 40px 0;padding: 0;}
ul.pagination li {margin: 0 2px; display: inline;}
ul.pagination li a {width: 30px;height: 34px;display: inline-block;font-size: 14px;color: #cecece; text-decoration: none; background: #fff; border: 1px solid #e9e9e9; /* padding: 7px 0 0 0; */ line-height: 34px; text-align:center}
ul.pagination li a:hover{ background:#000; color:#fff}

.pagination { display: inline-block; padding-left: 0;margin: 20px 0;border-radius: 4px;}
.pagination > li { display: inline;}
.pagination > li > a,.pagination > li > span {  position: relative;  float: left;  padding: 3px 6px;  margin-left: -1px;  line-height: 1.428571429;  text-decoration: none;  background-color: #ffffff;  border: 1px solid #dddddd;}
.pagination > li:first-child > a,.pagination > li:first-child > span { margin-left: 15px;  border-bottom-left-radius: 4px;  border-top-left-radius: 4px;}
.pagination > li:last-child > a,.pagination > li:last-child > span {  border-top-right-radius: 4px;  border-bottom-right-radius: 4px;}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus { background-color: #eeeeee;}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { z-index: 2; color: #ffffff;  cursor: default; background-color: #000;}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {  color: #999999;  cursor: not-allowed;  background-color: #ffffff;  border-color: #dddddd;}
.pagination-lg > li > a,.pagination-lg > li > span {  padding: 10px 16px;  font-size: 18px;}
.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span {  border-bottom-left-radius: 6px;  border-top-left-radius: 6px;}
.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span {  border-top-right-radius: 6px;  border-bottom-right-radius: 6px;}
.pagination-sm > li > a,.pagination-sm > li > span {  padding: 5px 10px;  font-size: 12px;}
.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span {  border-bottom-left-radius: 3px;  border-top-left-radius: 3px;}
.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span {border-top-right-radius: 3px;  border-bottom-right-radius: 3px;}
.pager {padding-left: 0;  margin: 20px 0;  text-align: center;  list-style: none;}
.pager:before,.pager:after {display: table;  content: " ";}
.pager:after {clear: both;}
.pager:before,.pager:after {display: table;  content: " ";}
.pager:after {clear: both;}
.pager li {display: inline;}
.pager li > a,.pager li > span {display: inline-block;  padding: 5px 14px;  background-color: #ffffff;  border: 1px solid #dddddd;  border-radius: 15px;}
.pager li > a:hover,.pager li > a:focus {text-decoration: none;  background-color: #eeeeee;}
.pager .next > a,.pager .next > span {float: right;}
.pager .previous > a,.pager .previous > span {float: left;}
.pager .disabled > a,.pager .disabled > a:hover,.pager .disabled > a:focus,.pager .disabled > span {color: #999999;  cursor: not-allowed;  background-color: #ffffff;}
.urunlerloading{ width:100%; height:100%; background:rgba(0, 0, 0, 0.81); position:fixed; z-index:999;  display:none;   top: 0;}
.urunlerloading .cssload-container{ height:100%}
.urunlerloading .cssload-whirlpool{height:90px; width:90px}


.urundetay{ padding:35px 0; position:relative}
.urundetay>h1{padding-bottom:10px; font-size:38px;font-family: 'lato_bold', sans-serif; color:#474747; margin-bottom:15px}
.urundetay .urunrender{ border:1px solid #f5f5f5; padding:25px; width:calc(100% - 50px);position: relative;}
.urundetay .urunrender ul li{width:calc(50% - 7px);display: inline-block; padding-right:5px}
.urundetay .urunrender ul li>img{ width:100%}
.urunrender .rightarrow, .urunrender .leftarrow{ position:absolute; width:50px; height:50px; top:calc(50% - 25px)}
.urunrender .leftarrow{ left:30px;}
.urunrender .rightarrow{right:30px}
.urunrender .rightarrow img, .urunrender .leftarrow img{ width:100%}

.yazdirbar{ position:absolute; right:0; top:50px}
.yazdirbar a{font-family: 'lato_regular', sans-serif; font-size:14px; color:#474747; border:1px solid #f5f5f5; padding:10px 10px; }
.yazdirbar a i{margin-right:5px}
.yazdirbar a:first-child{margin-right:5px}
.yazdirbar a:hover{background:#000; color:#fff}

.uruntipi{margin-top:55px}
.uruntipi ul li{ display:inline-block; border:1px solid #f5f5f5; margin:0;font-family: 'lato_regular', sans-serif; font-size:14px; color:#474747; border-bottom: 0px;}
.uruntipi ul li a{color:#999}
.uruntipi ul .active a{color:#474747}
.uruntipi ul .active{border-bottom:0px;padding-bottom: 2px;margin-bottom: -1px;position: relative;z-index: 9999;background: #fff;}
.uruntipi ul li>a{ display:block; padding:10px 20px}
.uruntipiic{ padding:25px; border:1px solid #f5f5f5; color:#777}
/*.uruntipiic ul li{ width:calc(100% / 4 - 18px);  margin-right:20px; display:inline-block}
.uruntipiic ul li:nth-child(4n){ margin-right:0px}
.uruntipiic ul li .uruntipihead{ line-height:40px;  font-size:13px; margin-top:15px}
   .urunresim{ width:100%; display:table}
.urunresim>ul{display:table-row}
.urunresim>ul>li{display:table-cell;vertical-align:middle; height:270px;width: 100%; text-align:center; border:1px solid #f5f5f5}
.urunresim>ul>li>img{ height: 235px;padding: 15px;}

    .olculer{ margin-top:15px; width:100%; position:relative; clear:both; padding-top:15px;font-size:14px}
.olculer .measurements{ float:left}
.olculer .colors{float: right;}   
.uruncolor{ width: 19px;height: 19px;border-radius: 50%;float: left;margin-right: 4px;cursor:pointer;}
.olculerdis{border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; padding-bottom:25px}



*/

.popupkampanya {width: 100%;position: fixed;z-index: 999999;height: 100%;display: block;opacity: 1;top:0;}

.popupkampanya  .popupkampanyakapat {position: absolute;top: -23px;left: -23px;font-size: 60px;width:70px;z-index:9999999999;}
.popupkampanya  .popupkampanyakapat img{width:100%;}
.popupkampanya  .popupkampanyakapat > a {color: #fff;}
.popupkampanya > .kampanyalar {width: 100%;height: 100%;position: relative;display:table;background: rgba(255, 255, 255, 0.50);}
.popupkampanya > .kampanyalar>div{display:table-cell;vertical-align:middle;text-align:center;}

.popupkampanya > .kampanyalar>div>div{width:50%;margin:0 auto;position:relative;max-width:725px;}
.popupkampanya > .kampanyalar>div>div>img{width: 100%;}
.popupkampanya > .kampanyalar>div>div>a>img{width: 100%;}

.uruntipiic ul li{ width:calc(100% - 18px);  margin-right:20px; display:inline-block; margin-bottom:25px}
.uruntipiic ul li:nth-child(4n){ margin-right:0px}
.uruntipiic ul li .uruntipihead{ line-height:40px;  font-size:20px; margin-top:15px}
.urunresim{ width:235px; float:left;display:table;}
.renksag{ width:calc(100% - 300px); float:right}
.urunresim>ul{display:table-row}
.urunresim>ul>li{display:table-cell;vertical-align:middle; height:270px;width: 100%; text-align:center; border:1px solid #f5f5f5}
.urunresim>ul>li{display:none;}
.urunresim>ul>li:first-child{display:block}
.urunresim>ul>li>img{ height: 235px;padding: 15px;}
.urunresim>ul>li>.uzunwithimg{max-width: 200px;height:auto;-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}

.olculer{ margin-top:15px; width:100%; position:relative; clear:both; padding-top:15px;font-size:14px}
.olculer .measurements{ float:left}
.olculer .colors{float: right;}   
.uruncolor{ width: 30px;height: 30px;/*border-radius: 50%;*/float: left;margin-right: 4px;cursor:pointer; background-size:30px 30px}
.olculerdis{border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; padding-bottom:55px;}

.refrens .altsayfayazi ul{ -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
.refrens .altsayfayazi ul>li{    padding: 7px 0 !important;background-position-y: 12px !important;padding-left: 20px !important; font-size:16px !important}




.slider-container .owl-theme .owl-controls{margin:0;text-align:left}.slider-container .owl-pagination{position:absolute;text-align:center; max-width:980px;width:980px;left:0;right:0;margin:auto; bottom:5%}.slider-container .owl-theme .owl-controls .owl-page span{/*background:#00a550;*/width:15px;height:15px;opacity:1;border:2px solid #00a550}.slider-container .owl-theme .owl-controls .owl-page.active span{background:#00a550}.home-main-slider-bottom{padding:50px 0;background:#221e1f}.home-news-slider{position:relative}.home-news-slider .item{width:100%;display:block;position:relative}.home-news-slider .item a{position:absolute;width:100%;height:100%;left:0;top:0}.home-news-slider .owl-pagination{position:absolute;bottom:-30px;left:0;right:0}.home-news-slider .owl-theme .owl-controls .owl-page span{background:#000;opacity:1}.home-news-slider .owl-theme .owl-controls .owl-page.active span{background:#fff}.home-news-slider h3{color:#8ec83d;font-size:17px;font-family:'Open Sans',sans-serif;font-weight:400;margin-bottom:15px;margin-top:20px}.home-news-slider .desc{color:#fff;font-size:14px;font-family:'Open Sans',sans-serif;line-height:20px}.home-news-slider .desc p{margin-bottom:15px}.home-news-slider a.archive{background:#000;height:20px;line-height:20px;font-size:11px;width:55px;display:block;text-align:center;color:#fff;text-decoration:none;position:absolute;bottom:0}.home-news-slider .social-type-1{position:absolute;right:0;bottom:0}.showcase{padding-bottom:50px}.showcase article figure{position:relative}.showcase article figure span{width:80px;height:80px;position:absolute;top:0;left:0;display:block}.showcase article figure span.new{background:url(../img/icons/icon_new.html)}.showcase article figure span.campaign{background:url(../img/icons/icon_cam.html)}.showcase{background:#8ec83d}.showcase .title{position:relative}.showcase .title h2{font-family:Ubuntu,sans-serif;font-weight:700;font-size:33px;color:#221e1f;letter-spacing:-2.5px;text-align:center;height:105px;line-height:105px;z-index:999999;position:relative;width:220px;margin:0 auto;background:#8ec83d}.showcase .title .hr-con{height:12px;position:absolute;width:100%;top:50%;margin-top:-5px}.showcase .title .hr-con span{display:block;width:100%;height:1px;border:1px solid #000;margin-bottom:3px}.home-shop{/*background:#fff;*//*position: relative;z-index: -2;*/    /*padding: 32px;border: 1px solid #e2e2e2;*/}.home-shop .home-shop-slider{position:relative;max-width:935px;width:100%;margin:0 auto}.home-shop .home-shop-slider .owl-wrapper{height:75px}.home-shop .home-shop-slider .item{text-align:center}.home-shop .home-shop-slider .item a{position:relative}.home-shop .home-shop-slider .item a.active:after,.home-shop .home-shop-slider .item a:hover:after{content:'';width:0;height:0;border-style:solid;border-width:7px 6.5px 0;border-color:#8ec83d transparent transparent;position:absolute;bottom:-10px;left:50%;margin-left:-6.5px}.home-shop .home-shop-slider .item a img{border:1px solid #333}.home-shop .home-shop-slider .owl-controls .owl-buttons div{background:url(../img/home-shop-slider-arrow.html);width:24px;height:67px;display:block;padding:0;margin:0;position:absolute;top:-2px;text-indent:100%;white-space:nowrap;overflow:hidden}.home-shop .home-shop-slider .owl-controls .owl-buttons div.owl-prev{left:-24px}.home-shop .home-shop-slider .owl-controls .owl-buttons div.owl-next{right:-24px;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.home-shop-selected{position:relative;}.home-shop-selected h3{color:#888;font-size:20px;font-family:'Open sans',sans-serif;text-align:center;/* margin-bottom:50px; */display:block;font-weight:400;}.home-shop-selected-slider{position:relative;/*max-width:1150px;*/width:100%;margin:0 auto;}.home-shop .home-shop-selected-slider .item{margin:0 auto;margin-right:10px; height: 100%;display: block;position: relative;overflow: hidden;}.home-shop .home-shop-selected-slider .item a{position:relative;display: block;height: 100%;width: 100%;overflow: hidden;text-decoration:none}
    .home-shop .home-shop-selected-slider .item>img{width:100%;} .home-shop .home-shop-selected-slider .item a img { /*float:left;*/
        width: 100%;
        position: relative;
        z-index: -1;
        display: block;
    }.home-shop .home-shop-selected-slider .owl-pagination{position:absolute;top:-42px;left:0;right:0}.home-shop .home-shop-selected-slider .owl-pagination .owl-page span{background:#00a550;opacity:1}.home-shop .home-shop-selected-slider .owl-pagination .owl-page.active span{background:#fff; border:1px solid #00a550}.e-bulletin .mobile-socialSearch .socialSearch{width:145px;position:relative;z-index:0}@media all and (max-width:980px){.slider-container .owl-pagination{width:100%}}@media all and (max-width:640px){.socialSearch{display:none}.e-bulletin .mobile-socialSearch,.e-bulletin .mobile-socialSearch .socialSearch{display:block}}@media all and (max-width:500px){.home-main-slider-bottom .row .home-news-slider .col-2.fleft img{width:90%;margin:0 auto;display:block}.home-news-slider .desc,.home-news-slider h3{padding:0 1%;text-align:center}}@media all and (max-width:480px){.home-shop .home-shop-selected-slider .owl-pagination{position:relative;top:inherit;left:inherit;right:inherit}}
.owl-item{float:left;}
.owl-theme .owl-controls .owl-buttons .owl-prev{left: 0px;background: url(../img/left-arrow.svg) no-repeat;background-size: 100%;    }
.owl-theme .owl-controls .owl-buttons .owl-next{right: 0px;background: url(../img/right-arrow.svg) no-repeat;background-size: 100%;}
.owl-theme .owl-controls{/* margin-top:10px; */text-align:center;}.owl-theme .owl-controls .owl-buttons div{color: #afafaf;display:inline-block;zoom:1;padding: 28px 28px;font-size:12px;/* background: url(../img/right-arrow.svg); */position: absolute;top: calc(50% - 28px);cursor:pointer}.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1}.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 3px;filter:Alpha(Opacity=50);opacity:.5;border-radius:20px;}.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;border-radius:30px}.owl-item.loading{min-height:150px;background:url(AjaxLoader.html) center center no-repeat}
.owl-wrapper-outer {overflow:hidden}
.item p{text-align: center;background: #0070ba;margin: 0;padding: 10px 0;text-decoration: none !important;color: #fff;}


@media(max-width:1000px){
    .searchbox{width:calc(100% - 2px);max-height:300px;}
    .head{display:none;}
    .mobile-head{display:block}
    .home-bilgi>ul>li:first-child{padding-right:0px;}
    .home-bilgi>ul>li:last-child{padding-left:0px;}
    .home-bilgi>ul>li{float:left;width:calc(100%);padding:0;text-align:center}
    .home-bilgi>ul>li>.haberler{width:100%}
    .home-bilgi .haber-slide{width:100%}
    .footer>div>ul>li:first-child{    width: calc((100% / 1) - 20px);    text-align: center;}
    .footer>div>ul>li>a img{width:170px;}
    .altmenunbottom{display:none;}
    .sosyal-icon{width: 100%;}
    .home-hakkinda>div>ul>li{float:left;margin-bottom:10px;}

    .altsayfaic>div:first-child{width:100%;}
    .altsayfaic>div:last-child{width:100%;padding: 25px 0;}
     .home-features>.features-sag>ul>li:last-child,.home-features>.features-sag>ul>li:nth-last-child(2){display:none;}
     .dropdownsecim{display:block;z-index: 999;}
     .altmenuic{display:none;}


}
@media(max-width:800px) {
    .basin #ajax-main .haberic>li{width:calc(100% / 2 - 20px)}
    .basin #ajax-main .haberic>li:nth-child(3n){margin-right:20px;}
    .basin #ajax-main .haberic>li:nth-child(2n){margin-right:0;}
    .kataloglist>ul>li{width:calc((100% / 2) - 32px)}
    .kataloglist>ul>li:nth-child(4n){margin-right: 29px;}
    .kataloglist>ul>li:nth-child(2n){margin-right: 0px;}
    ul.black-band-four-column li{width:calc((100% / 4) - 5px);}
    ul.black-band-four-column li:nth-child(5n+1){margin:0 0 5px 5px;}
    .urunresim{width: 100%;}
    .renksag{width:100%;}
    .slider{height: 38%;}
    .home-features>.features-sol{margin: 0 auto;float:none;}
    .home-features>.features-sag{width: 100%;}
    .haber-slide{height:auto;}
}
@media(max-width:700px) {
    .fabrikalar>div ul .solfabrika{width: 100%;padding-right:0px;}
    .fabrikalar>div ul .sagfabrika{width:100%;padding-left:0px;}
    .fabrikalar>div ul li{height:auto;padding-top: 22px;}
    .refrens .altsayfayazi ul{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
    .iletisim-form-div{width:100%}
    ul.black-band-four-column li{width:calc((100% / 3) - 5px);}
    
    .slide-yazi{display:none;}
}

@media(max-width:600px) {
    .medya-galeri>ul>li{width:calc((100% / 2) - 10px);}


    .popupkampanya  .popupkampanyakapat{top: -26px;left: -16px;    width: 50px;}
    .popupkampanya > .kampanyalar>div>div{width: 70%;height:auto}
    .haber-slide{height: 205px;}
    .altsayfa>div:first-child ul>li{ display:none;}
}

@media(max-width:500px) {
        .basin #ajax-main .haberic>li{width:100%}
    .basin #ajax-main .haberic>li:nth-child(3n){margin-right:0;}
    .basin #ajax-main .haberic>li:nth-child(2n){margin-right:0;}
    ul.black-band-four-column li{width:calc((100% / 2) - 5px);}
    .home-bilgi{width: 100%;    display: inline-block;}
    .home-bilgi>ul{width: 100%;display: inline-block;}
    /*.home-bilgi>ul>li:first-child{width: calc(100% - 45px);}*/
    .rsAml .rsBullets{display:none;}
}

@media(max-width:500px) {
    .mobile-head>ul>li:first-child{width: 120px;}
            .kataloglist>ul>li{width:100%;margin-right:0; }
    .kataloglist>ul>li:nth-child(4n){margin-right: 0px;}
    .kataloglist>ul>li:nth-child(2n){margin-right: 0px;}
    .kataloglist>ul>li>a>img{width: calc(100% - 20px);}
    .home-features>.features-sol{width:100%;float:left}
    .home-features>.features-sag>ul>li:last-child,.home-features>.features-sag>ul>li:nth-last-child(2),.home-features>.features-sag>ul>li:nth-last-child(3){display:none;}
    .mobil-menu{top: 82px;}
    .haber-slide{height: 166px;}
    .home-bilgi{    margin-top: 20px;}
    .home-bilgi>ul>li>.haberler{margin-top: 20px;}
    .home-bilgi .haber-slide{margin-top: 20px;}
    .home-bilgi .anareferans .slide-bg>ul>li>div>h4{font-size: 16px;}
    .haber-slide-yazi{    font-size: 16px}
    .home-hakkinda>h3{    font-size: 32px;}
    .home-hakkinda{padding: 20px 0;}
    .mobile-head{padding-bottom: 10px;padding-left: 10px;width: calc(100% - 10px);}
    .dropdownsecim>ul>li>a{text-align:center;    font-family: 'Raleway', sans-serif;    font-size: 16px;}
    .altsayfaic>div:last-child .altsayfayazi, .altsayfaic>div:last-child .altsayfayazi p{text-align:center}
    .fabrikalar{text-align:center}
    .mobile-head .mobile-arama{top: 82px;}
}